* {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
}
.center-nav {
  width: 32rem;
}

.input-group {
  width: 100%;
  max-width: 35rem;
}
.form-control,
.input-group-text {
  border-color: hsl(0, 0%, 18.82%);
  background-color: hsl(0, 0%, 7%);
  box-shadow: none;
  color: #fff;
  border-radius: 30px;
}
.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.489);
}
.search-bar:focus {
  background-color: hsl(0, 0%, 18.82%);
}
.input-group-text {
  border: 1px solid hsl(0, 0%, 18.82%);
  background-color: hsla(0, 0%, 100%, 0.08);
}
.fa-microphone {
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 50px;
  height: 42px;
  width: 42px;
  line-height: 1.6rem;
}
.create-button,
.vnav-button {
  border: none;
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 30px;
  color: #fff;
}

/* main {
  margin-top: 70px;
} */
.vertical-nav {
  max-width: 15rem;
  margin-top: 60px;
  max-height: 100vh;
}
.vertical-nav-md {
  max-width: 6rem;
  margin-top: 60px;
  max-height: 100vh;
}
.vertical-nav-md p {
  font-size: 0.6rem;
}
.vnav-text {
  font-size: 0.92rem;
  border-radius: 10px;
}
.vnav-text:hover {
  background-color: #ffffff1f;
}
.container {
  max-width: 1450px;
}
.main-content {
  margin-left: 16rem !important;
  margin-top: 6.5rem;
}
.filter-nav {
  top: 3.6rem;
  left: 17rem;
  flex-wrap: nowrap;
}
.menu {
  border-radius: 10px;
  font-size: 0.8rem;
  text-wrap: nowrap;
}
.menu:hover {
  background-color: #ffffff38;
}

.time {
  position: absolute;
  bottom: 89px;
  right: 10px;
  border-radius: 2px;
  font-size: 0.8rem;
}
.card-title {
  font-size: 1.15rem !important;
}
.channel-name {
  font-size: 0.95rem;
}
.view-count {
  font-size: 0.8rem !important;
}
.card-body img {
  border-radius: 50%;
}
.scroll-bar::-webkit-scrollbar {
  /* width: 2px !important; */
  display: none;
}
/* .scroll-bar::-webkit-scrollbar-track {
  background: #272727;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

@media (min-width: 787px) {
  .vertical-nav-md {
    display: none;
  }
}

@media (max-width: 992px) {
  .center-nav {
    max-width: 50%;
  }
  .create-button,
  .fa-bell {
    display: none;
  }
  .vertical-nav {
    max-width: 12rem;
  }
  .main-content {
    margin-left: 13rem !important;
  }
  .filter-nav {
    left: 14rem;
  }
}

@media (max-width: 786px) {
  .vertical-nav {
    display: none;
  }
  .main-content {
    margin-left: 7rem !important;
  }
  .filter-nav {
    left: 8rem;
  }
}
@media (max-width: 576px) {
  .vertical-nav,
  .vertical-nav-md,
  .fa-bars,
  .center-nav,
  .create-button,
  .fa-bell {
    display: none !important;
  }
  .main-content {
    margin-left: 0rem !important;
  }
  .filter-nav {
    top: 2.3rem;
    left: 1rem;
    padding-top: 0.6rem;
  }
}
@media (min-width: 577px) {
  .horizontal-nav-sm {
    display: none !important;
  }
}
