* {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
}
.center-nav {
  width: 32rem;
}

.input-group {
  width: 100%;
  max-width: 35rem;
}
.form-control,
.input-group-text {
  border-color: hsl(0, 0%, 18.82%);
  background-color: hsl(0, 0%, 7%);
  box-shadow: none;
  color: #fff;
  border-radius: 30px;
}
.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.489);
}
.search-bar:focus {
  background-color: hsl(0, 0%, 18.82%);
}
.input-group-text {
  border: 1px solid hsl(0, 0%, 18.82%);
  background-color: hsla(0, 0%, 100%, 0.08);
}
.fa-microphone {
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 50px;
  height: 42px;
  width: 42px;
  line-height: 1.6rem;
}
.create-button {
  border: none;
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 30px;
  color: #fff;
  /* font-size: 0.95rem; */
}
.menu {
  border-radius: 10px;
  font-size: 0.8rem;
  text-wrap: nowrap;
}
.menu:hover {
  background-color: #ffffff38;
}
.player {
  max-width: 75rem;
}
.main-video {
  max-width: 75rem;
  width: 100%;
}
.related-vid {
  max-width: 30rem;
}
.left-c-info img {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}
main {
  padding: 0 3rem 0 3rem;
  margin-top: 60px;
}
.channel-name h3 {
  font-size: 0.5rem;
}
.channel-name p {
  font-size: 0.5rem;
}
.subscribe {
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  font-size: 0.9rem;
}
.time {
  top: 90px;
  left: 178px;
  font-size: 0.8rem;
}

.description-box p {
  background-color: rgba(255, 255, 255, 0.1);
}
.comment-box img {
  border-radius: 50%;
}
.scroll-bar::-webkit-scrollbar {
  /* width: 2px !important; */
  display: none;
}
@media (min-width: 993px) {
  .related-vid {
    max-width: 30rem;
  }
  .right-c-info button {
    font-size: 0.6rem !important;
  }
}
@media (max-width: 992px) {
  .center-nav {
    max-width: 50%;
  }
  .create-button,
  .fa-bell {
    display: none;
  }
  main {
    flex-direction: column;
  }
  .related-vid {
    max-width: 70rem;
  }
}

@media (max-width: 786px) {
  main {
    padding: 1rem;
    margin-top: 15px;
  }
}
@media (max-width: 576px) {
  .fa-bars,
  .center-nav,
  .create-button,
  .fa-bell {
    display: none !important;
  }
}
